@use "../abstract" as *;

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__item {
    &::after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: $accent-color;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link {
    font-size: 1.125rem;

    &--active {
      color: $accent-color;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    z-index: 100;
  }
}

@media (max-width: $breakpoint-sm) {
  .nav {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    background: #111;
    flex-direction: column;
    transform: translateY(-200%);
    opacity: 0;
    pointer-events: none;
    z-index: 2000;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &--open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }

    &__list {
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }
  }

  .nav__toggle {
    display: block;
  }
}
