.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__item {
    &::after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: var(--secondary-color);
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}