@use "../abstract" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  background-color: #ab2424;
  background-image: url("/images/bg-pattern.png");
  background-size: 30%;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#klikz-16 {
  display: none;
}

@media (max-width: $breakpoint-md) {
  html {
    font-size: 14px;
  }

  .container {
    padding: 0 1rem;
  }
}
