@use "../abstract" as *;

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: content-height();
  background-color: #212121;
  color: white;
}

.not-found__content {
  max-width: 600px;
  margin-right: 2rem;
}

.not-found__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.not-found__message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.not-found__cta {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: $accent-color;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found__cta:hover {
  background-color: $accent-color-hover;
}

.not-found__vinyl {
  width: 200px;
}

@media (max-width: $breakpoint-sm) {
  .not-found__content {
    max-width: 100%;
  }

  .not-found__title {
    font-size: 2rem;
  }

  .not-found__message {
    font-size: 1rem;
  }

  .not-found__cta {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .not-found__vinyl {
    width: 150px;
  }
}

@media (max-width: $breakpoint-xs) {
  .not-found {
    flex-direction: column;
  }

  .not-found__content {
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}
