@use "../abstract" as *;

.sidebar {
  position: sticky;
  top: 1rem;
  max-height: fit-content;
  background-color: var(--background-color);
  padding: 0 1rem;
  width: max-content;

  .organizations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
}
